/* ERCore Dashboard */
.view-empty p {
    font-style: italic;
    margin-left: 45px;
}
.label-inline {
    font-weight: bold;
}
.dashboard .title {
    font-weight: bold;
    font-size: 1.1em;
}
.dashboard .post-date {
    font-style: italic;
}
ul.dashboard li {
    margin-bottom: 7px;
}