/* Mixins and variables */
/* CSS Document */
/* Basic Styles */
/* Basic Styles */
body { font-size: 1.7em; background-color: #FFFFFF; color: #000000; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, .h1, .h2, .h3 { font-family: "PT Sans", Helvetica, Arial, sans-serif; font-weight: 700; }

h4, h5, h6, .h4, .h5, .h6 { font-family: "PT Sans", Helvetica, Arial, sans-serif; font-weight: 700; font-weight: 400; }

h1 { color: #333; }

h2, .h2 { margin-bottom: 4px; font-size: 1.8em; }

h4, .h4 { color: #333; font-weight: bold; margin-bottom: 0; font-size: 1.2em; }

h5, .h5 { font-style: italic; font-weight: bold; margin-bottom: 0; font-size: 1em; }

h6, .h6 { font-style: italic; font-weight: normal; margin-bottom: 0; font-size: 1em; }

abbr { font-style: italic; }

p { margin: 0 0 5px; }

/* tables */
.table > thead > tr > th { border-bottom: 2px solid #29d5e0; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { border-top: 1px solid #333; }
.table > thead > tr > th a, .table > tbody > tr > th a, .table > tfoot > tr > th a, .table > thead > tr > td a, .table > tbody > tr > td a, .table > tfoot > tr > td a { color: #083235; }
.table > thead > tr > th a:link, .table > tbody > tr > th a:link, .table > tfoot > tr > th a:link, .table > thead > tr > td a:link, .table > tbody > tr > td a:link, .table > tfoot > tr > td a:link { color: #083235; }
.table > thead > tr > th a:visited, .table > tbody > tr > th a:visited, .table > tfoot > tr > th a:visited, .table > thead > tr > td a:visited, .table > tbody > tr > td a:visited, .table > tfoot > tr > td a:visited { color: #0e2d2f; }
.table > thead > tr > th a:hover, .table > thead > tr > th a:active, .table > thead > tr > th a:focus, .table > tbody > tr > th a:hover, .table > tbody > tr > th a:active, .table > tbody > tr > th a:focus, .table > tfoot > tr > th a:hover, .table > tfoot > tr > th a:active, .table > tfoot > tr > th a:focus, .table > thead > tr > td a:hover, .table > thead > tr > td a:active, .table > thead > tr > td a:focus, .table > tbody > tr > td a:hover, .table > tbody > tr > td a:active, .table > tbody > tr > td a:focus, .table > tfoot > tr > td a:hover, .table > tfoot > tr > td a:active, .table > tfoot > tr > td a:focus { color: #000; }

.table > thead > tr > th.active { background-color: #083235; color: #FFF; }
.table > thead > tr > th.active a { color: #FFF; }
.table > thead > tr > th.active a:link { color: #FFF; }
.table > thead > tr > th.active a:visited { color: white; }
.table > thead > tr > th.active a:hover, .table > thead > tr > th.active a:active, .table > thead > tr > th.active a:focus { color: #FFF; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th { background-color: rgba(250, 250, 250, 0.6); }
.table-striped > tbody > tr:nth-child(odd) > td.active, .table-striped > tbody > tr:nth-child(odd) > th.active { background-color: rgba(225, 225, 225, 0.6); }
.table-striped > tbody > tr:nth-child(odd):hover > td, .table-striped > tbody > tr:nth-child(odd):hover > th { background-color: rgba(225, 225, 225, 0.6); border-top-color: #000; }
.table-striped > tbody > tr:nth-child(odd):hover > td.active, .table-striped > tbody > tr:nth-child(odd):hover > th.active { background-color: rgba(212, 212, 212, 0.6); }
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th { background-color: transparent; }
.table-striped > tbody > tr:nth-child(even) > td.active, .table-striped > tbody > tr:nth-child(even) > th.active { background-color: rgba(250, 250, 250, 0.6); }
.table-striped > tbody > tr:nth-child(even):hover > td, .table-striped > tbody > tr:nth-child(even):hover > th { background-color: rgba(237, 237, 237, 0.6); border-top-color: #000; }
.table-striped > tbody > tr:nth-child(even):hover > td.active, .table-striped > tbody > tr:nth-child(even):hover > th.active { background-color: rgba(212, 212, 212, 0.6); }

.attachment-after { margin-top: 25px; padding-top: 20px; border-top: 2px solid #333; }

/* ERCore Specific Styles */
/* ERCore Specific Styles */
h2.list-title, h3.list-title, .h2.list-title, div.external-engagement-data h2 { font-size: 1.3em; margin-bottom: 0; }

h2.label-plain, h3.label-plain { font-weight: bold; font-size: 1em; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 3px 0 0; margin: 0; color: #000; }

.field h2.label-above { font-size: 1.3em; }

.view-mode-referenced h3, .list-row { margin-top: 0; }

.list-row { border-top: 1px solid #333; padding: 5px 10px 20px; }
.list-row .btn-default { float: right; margin-left: 5px; }
.list-row.even { background-color: rgba(250, 250, 250, 0.6); }
.list-row.first { border-top: none; }
.list-row.first h3 { margin-top: 0; }
.list-row.first p.title, .list-row.first p { margin-bottom: 0; }
.list-row.rows-counted .counter { float: left; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-weight: 700; font-size: 2em; color: #333; margin-top: 12px; }
.list-row.rows-counted .counted { padding-left: 50px; }

.person-list.row .list-row { border-top: 1px solid #333; min-height: 10em; }

.person-list.row.participant .list-row { min-height: inherit; }

.ercore-view .form-item label, .ercore-view .views-exposed-widget label { margin-bottom: 0; }
.ercore-view .form-item label.control-label, .ercore-view .views-exposed-widget label.control-label { display: block; }
.ercore-view .form-item .form-control, .ercore-view .views-exposed-widget .form-control { display: inline; width: auto; }

.field-inline ul { padding-left: 5px; margin-bottom: 0; display: inline; list-style: none; }

.field-inline ul li { display: inline; padding: 0; }

.field-inline ul li:after { content: ",\0020"; }

.field-inline ul li:last-child:after { content: ""; }

.field-inline ul li:nth-last-child(2):after { content: "\0020 and \0020"; }

.list-inline.external li span.label-inline { font-weight: bold; }
.list-inline.external li + li { border-left: 1px solid #333; margin-left: 7px; padding-left: 7px; }

.date { font-size: 1.1em; font-weight: bold; }

.view-mode-teaser_alternate .field-name-field-ercore-ev-engagement { margin-top: 7px; }

.view-mode-full .date { margin-bottom: 15px; }
.view-mode-full .field-name-field-ercore-organizer { margin: 10px 0; }
.view-mode-full .field-label-above { margin-top: 10px; }

.teaser-date { font-size: 1.1em; font-weight: bold; }

.list-date ul { padding: 0; }
.list-date li { list-style: none; }

.image-div .ds-1col { display: inline-block; }

.person .name { font-weight: bold; }
.person.user-row { margin-top: 7px; }

.organizers { margin: 7px 0; }

/* breadcrumb */
.breadcrumb { background-color: transparent; }

.breadcrumb > li + li:before { padding: 0 5px; color: #000; content: "/\00a0"; }

ul.collaborator-list, div.participant-list ul, div.participant-list h3 { margin-left: 36px; }

div.participant-list h3 { margin-top: 5px; }

.e-user-name { font-size: 1.1em; font-weight: bold; border-bottom: 1px solid #15878e; }

.colloborating-name { font-weight: bold; }

.profile-row { min-height: 12em; }

.engagement-add { padding-top: 10px; }

/* fields */
.featured-field { font-weight: bold; font-size: 1.1em; }

/* Views Exposed Filters */
select#edit-field-er-program-target-id { width: 20em; }

.views-exposed-widgets select#edit-field-ercore-cr-inst-ref-target-id { width: 20em; }

#edit-field-er-inst-ref-target-id { width: 15em; }

#edit-field-er-publication-type-value { width: 10em; }

.view-header { margin: -10px 0 10px; font-size: 1.1em; font-style: italic; border-bottom: dashed 1px #333; padding-bottom: 7px; }

.ercore-summary-page .view-empty { margin-bottom: 36px; }

.field-name-field-ercore-us-phone-personal, .field-name-field-ercore-us-address { overflow: hidden; }
.field-name-field-ercore-us-phone-personal:before, .field-name-field-ercore-us-address:before { display: inherit; content: inherit; }
.field-name-field-ercore-us-phone-personal:after, .field-name-field-ercore-us-address:after { clear: inherit; }

.row.profile-row { border-bottom: 1px solid #333; padding: 10px 0; }
.row.profile-row .profile-nav ul { border-right: 1px solid #CCC; }

.tab-content fieldset.group-ercore-us-d-certs { margin-top: 15px; }

.grouped-items .label-inline { font-weight: bold; }
.grouped-items + .grouped-items { margin-top: 12px; }

.view.view-ercore-participant-testing .views-exposed-widget { height: 6em; }

/* Site Specific Styles */
.navbar-default .navbar-brand { color: #083235; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-weight: 700; }
.navbar-default .navbar-brand:link { color: #083235; }
.navbar-default .navbar-brand:visited { color: #0e2d2f; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus { color: black; }

.navbar.container-fluid { margin-top: 0; padding: 20px 0 15px; }

a { color: #083235; }
a:link { color: #083235; }
a:visited { color: #0e2d2f; }
a:hover, a:active, a:focus { color: black; }

.help-block { color: #083235; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) { .navbar-default { background-color: #FFF; border-left: none; border-right: none; border-top-color: #083235; border-bottom-color: #1bb1bb; border-radius: 0; border-top-width: 2px; border-bottom-width: 5px; -webkit-box-shadow: 0 5px 3px 0 #CCC; -moz-box-shadow: 0 5px 3px 0 #CCC; box-shadow: 0 5px 3px 0 #CCC; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) { .navbar-brand { font-size: 1.3em; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-weight: 700; }
  .navbar .navbar-brand { color: #000; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) { body { margin: 0; }
  body .navbar.container { margin-top: 100px; }
  body .navbar-brand { position: absolute; top: -90px; display: block; text-indent: -9999px; width: 380px; height: 80px; background-color: #FFF; color: #000; }
  body .navbar-brand a { color: #000; }
  body .navbar-brand a:link { color: #000; }
  body .navbar-brand a:visited { color: black; }
  body .navbar-brand a:hover, body .navbar-brand a:active, body .navbar-brand a:focus { color: black; }
  body .name-slogan .slogan { font-size: 1em; font-style: italic; font-weight: bold; position: absolute; top: -2em; left: 400px; }
  a { color: #15878e; }
  a:link { color: #15878e; }
  a:visited { color: #25797e; }
  a:hover, a:active, a:focus { color: #083235; }
  .navbar .navbar-brand { border: 2px solid #FFF; overflow: hidden; }
  .navbar .navbar-brand:hover, .navbar .navbar-brand:active, .navbar .navbar-brand:focus { border-color: #1bb1bb; }
  .navbar .navbar-brand .navbar-default .navbar-brand:hover, .navbar .navbar-brand .navbar-default .navbar-brand:active, .navbar .navbar-brand .navbar-default .navbar-brand:focus { background-color: #189ca5; }
  .navbar .navbar-brand .logo-link { background-color: transparent; background-repeat: no-repeat; display: block; background-image: url(../images/VI-EPSCoR-color-logo.png); background-position: top left; -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out; height: 75px; }
  .navbar-nav, .mainnav { text-align: center; float: none; }
  .navbar-nav .dropdown-menu, .mainnav .dropdown-menu { text-align: left; }
  .navbar-nav > li { float: none; display: inline-block; font-weight: bold; font-size: .9em; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav li.expanded.active-trail > a { color: #000; border-bottom: 5px solid #15878e; border-bottom-color: #083235; margin-bottom: -5px; /* matches border thickness */ }
  #ercore-nav-toggle { position: fixed; top: 150px; left: 0; transform: rotate(-90deg); transform-origin: left top 0; background-color: #083235; color: #FFF; font-size: 1.2em; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; -webkit-box-shadow: -5px 5px 15px 0 #666; -moz-box-shadow: -5px 5px 15px 0 #666; box-shadow: -5px 5px 15px 0 #666; }
  #ercore-nav-toggle a { color: #FFF; }
  #sb-site { border-left: 4px solid #083235; }
  .navbar-default .navbar-nav .expanded.active-trail { background-color: rgba(250, 250, 250, 0.6); }
  .main-nav-section { position: absolute; left: 0; width: 100%; border-bottom: 1px solid #15878e; margin-bottom: 10px; }
  .main-container { margin-top: 130px; }
  span.null-link { display: inline-block; height: 50px; padding: 10px; color: #CCC; }
  .mainnav > li { float: none; display: inline-block; }
  .main-nav-section { position: absolute; left: 0; border-bottom: 1px solid #6f2f00; margin-bottom: 10px; -webkit-box-shadow: 0 5px 1px 0 #e6e6e6; -moz-box-shadow: 0 5px 1px 0 #e6e6e6; box-shadow: 0 5px 1px 0 #e6e6e6; }
  .mainnav.nav { margin: 20px 0 10px; padding-left: 0; }
  .mainnav.nav > li > a { padding: 1px 5px; }
  .mainnav.nav > li > a:hover, .mainnav.nav > li > a:active, .mainnav.nav > li > a:focus { text-decoration: underline; background-color: transparent; }
  .field-name-field-user-photo { float: right; }
  .help-block { color: #15878e; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) { .navbar-nav > li { font-size: 1em; }
  .mainnav.nav > li > a { padding: 1px 10px; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) { .main-container { margin-top: 100px; } }
.navbar-default .navbar-nav > li > a { color: #083235; }
.navbar-default .navbar-nav > li > a:link { text-decoration: none; }
.navbar-default .navbar-nav > li > a:visited { text-decoration: none; }
.navbar-default .navbar-nav > li > a:hover { text-decoration: underline; }
.navbar-default .navbar-nav > li > a:active { text-decoration: underline; }
.navbar-default .navbar-nav > li > a:focus { text-decoration: underline; }
.navbar-default .navbar-nav > li > a:link { color: #083235; }
.navbar-default .navbar-nav > li > a:visited { color: #0e2d2f; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus { color: black; }

.page-header { color: #083235; border-bottom: 3px solid #15878e; border-bottom-color: #083235; -webkit-text-shadow: 3px 3px 3px #E1DDDD; -moz-text-shadow: 3px 3px 3px #E1DDDD; -ms-text-shadow: 3px 3px 3px #E1DDDD; /* IE 10+ */ -o-text-shadow: 3px 3px 3px #E1DDDD; text-shadow: 3px 3px 3px #E1DDDD; padding-bottom: 0; }

.region-navigation h2.block-title { position: absolute; left: -9999px; }

h2.other { margin-left: 15px; }

.view-id-recent_content .list-row { padding-bottom: 10px; }

h3, .h3 { color: black; font-style: italic; margin-bottom: 0; font-size: 1.3em; }

h3.list-subtitle { font-size: 1em; margin-bottom: 0; }

.field-inline .label-inline { font-weight: bold; }

.field-inline .div-inline { display: inline; }

.div-inline + .div-inline { margin-left: 10px; }

p.title { font-size: 1.1em; font-weight: bold; }
p.larger { font-size: 1.3em; margin: 1em; }
p.data-link { margin: 10px 0 25px; padding: 10px 0; border-top: 1px solid #15878e; border-bottom: 1px solid #15878e; }

span.title { font-weight: bold; }

.image-use { margin-top: 15px; padding-top: 5px; border-top: 1px solid #15878e; }
.image-use p { font-size: .85em; font-style: italic; }

.box-shadow img { -webkit-box-shadow: 5px -5px 15px 0 #666; -moz-box-shadow: 5px -5px 15px 0 #666; box-shadow: 5px -5px 15px 0 #666; border: 1px solid #FFF; }

.box-shadow.pull-right { margin-left: 15px; }

.view-images .view-content { overflow: hidden; }

.image-title, .term-name { margin-top: 10px; font-size: 1.25em; font-weight: bold; font-style: italic; display: inline-block; }

.by-term .image-title { display: none; }

.image-pane { margin-top: 36px; }

.thumbnail { border: none; }

.thumbnail .img-responsive, .media .img-responsive, .pull-right .img-responsive, .field-name-field-user-photo img { -webkit-box-shadow: 5px 5px 15px 0 #666; -moz-box-shadow: 5px 5px 15px 0 #666; box-shadow: 5px 5px 15px 0 #666; border: 1px solid #FFF; }

.media .img-responsive img { margin-right: 10px; }

/* breadcrumb */
.breadcrumb { background-color: transparent; }

.breadcrumb > li + li:before { color: #083235; }

/* Sidebars */
#ercore-nav-toggle { padding: 7px 15px; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-weight: 700; }

#ercore-nav { font-size: .9em; padding-top: 72px; border-right: 2px solid red; border-right: 2px solid #15878e; }
#ercore-nav h2 { color: #29d5e0; font-size: 1.5em; margin-left: 15px; }
#ercore-nav a { color: #FFF; }
#ercore-nav a:link { color: #FFF; }
#ercore-nav a:visited { color: white; }
#ercore-nav a:hover, #ercore-nav a:active, #ercore-nav a:focus { color: #cccccc; }
#ercore-nav ul.menu { padding-left: 15px; font-weight: bold; }
#ercore-nav ul.menu ul.lower-level { padding-left: 0; font-weight: normal; }
#ercore-nav ul.menu ul.lower-level ul { padding-left: 15px; }

/*  end breadcrumb */
footer { text-align: right; font-size: .9em; }
footer .block-masquerade { text-align: left; }
footer .block-masquerade .input-group .form-control { width: inherit; display: inline-block; }
footer .input-group-addon, footer .input-group-btn, footer .input-group .form-control { display: inline-block; }
footer .input-group-addon, footer .input-group-btn { width: inherit; }

.footer { border-top: 1px solid #15878e; }

.region-footer { margin-bottom: 10px; }

footer p { font-style: italic; }

.e-user-table table caption, .ercore-data caption { font-family: "PT Sans", Helvetica, Arial, sans-serif; font-weight: 700; text-align: left; color: #000; }

.btn-default, .btn-success, .btn-info { border: 1px solid #15878e; -webkit-box-shadow: 5px 5px 5px 0 #CCC; -moz-box-shadow: 5px 5px 5px 0 #CCC; box-shadow: 5px 5px 5px 0 #CCC; }

.btn-info, .btn-success, .btn-success.disabled { background-color: #083235; }
.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:hover, .btn-info:active:hover, .btn-info:active:focus, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:hover, .btn-success:active:hover, .btn-success:active:focus, .btn-success.disabled:hover, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:active:hover, .btn-success.disabled:active:hover, .btn-success.disabled:active:focus { background-color: #15878e; }

.pagination > li a, .pagination > li span { color: #083235; background-color: #ffffff; border: 1px solid #083235; text-decoration: none; }
.pagination > li > a:hover, .pagination > li span:hover, .pagination > li a:focus, .pagination > li span:focus { color: #15878e; background-color: rgba(250, 250, 250, 0.6); border-color: #15878e; text-decoration: underline; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { color: #FFF; background-color: #083235; border-color: #15878e; }
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { color: #000; background-color: #FFF; border-color: #15878e; }

.pager li { display: inline; }
.pager li > a, .pager li > span { background-color: #FFF; border: 1px solid #15878e; }
.pager li > a:hover, .pager li > a:active, .pager li > span:hover, .pager li > span:active { text-decoration: none; background-color: rgba(250, 250, 250, 0.6); }
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span { color: #333; background-color: #FFF; }

.views-exposed-form .views-exposed-widget.views-widget-filter-field_ercore_components_target_id { width: 300px; }

/*# sourceMappingURL=style.css.map */
